



 .title{
	 
	
	font-size : 25px;
	height:50px;
	background-color: #1E3A8A;
	font-family:arial;

	
}
p {
	color: white;
    padding:12px
    
}
body{
	background-color: #F1F5F9 ;

}

.box{
background-color:rgba(255,255,255,0.9) ;
border:3px solid gray;
margin:20px 100px;
border-radius:10px;
 box-shadow:0px 0px 5px gray ;
line-height:20px;
}

.d{
color: black;
font-size : 12px;

}
h4{
color:  #1E3A8A ;
margin:2px 10px;
padding:5px;
font-family:arial;
}
.link {
	
	font-size : 17px;
	height:25px;
	background-color: #1E3A8A;
	font-family:arial;
	margin : 40px 600px;
    border-radius:10px;
	text-align:center;
    padding:10px;
}
a{
color:white;
text-decoration:none;
margin:5px;
}
 .link:hover{
background-color:  #162F6A;
}
.tit{

font-size : 15px;
	height:60px;
	background-color: #1E3A8A;
	font-family:arial;
	position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   
}
.bo{
background-color:rgba(255,255,255,0.9) ;
border:3px solid gray;
margin:20px 100px;
border-radius:10px;
 box-shadow:0px 0px 5px gray ;
line-height:20px;
display:flex;
justify-content:space-between;
}
.dd{
background-color:rgba(255,255,255,0.9) ;
border:3px  blue;
margin:20px 650px;
border-radius:10px;
 box-shadow:0px 0px 5px gray ;

display:flex;

}

.ss{
background-color:rgba(255,255,255,0.9) ;
border:3px  blue;
margin:20px 650px;
border-radius:10px;
 box-shadow:0px 0px 5px gray ;

display:flex;


}

